@charset "utf-8";

/*
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic|Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic|Ubuntu+Condensed&subset=latin,latin-ext);
*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic|Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic|Ubuntu+Condensed&subset=greek-ext);

body
{
	font-family: "Ubuntu";
	font-weight: 100;
	hyphens: auto;
	hyphenate-lines: 1;
	prince-hyphenate-before: 3;
	prince-hyphenate-after: 3;
	margin: 0;
	padding: 0;
	text-align: justify;
	word-spacing: 0;
	letter-spacing: 0;
	font-size: 10.5pt;
	line-height: 0.45cm;

	-webkit-column-count       : 2;
    -moz-column-count          : 2;
    column-count               : 2;
	-webkit-column-width       : 49%;
	-moz-column-width          : 49%;
	column-width               : 49%;


	string-set: strDidel   "didel.com",
				strMOOC    "EPFL — MOOC µCONTRÔLEURS"
	            strPage_nb "– " counter( page ) " –"
	            strSEPARATOR " •";

}

@page
{
	font-family: "Ubuntu";
	font-size: 10.5pt;
	size: A4;
	margin: 2cm 1.5cm 2cm;
	@top-center
	{
		content: string( strMOOC );
	}
	@bottom-center
	{
		/*content: counter( page );*/
		content: string( strPage_nb );
		font-size: 0.925em;
		word-spacing: 0;
		letter-spacing: 0;
		margin: 0 0 0.5cm;
		padding: 0;
	}
	/* Watermark */
/*
	@bottom-left
	{
		float: left;
		margin-bottom: 20cm;
		content: "DRAFT";
		color: rgba( 0, 0, 0, 0.1 );
		font-size: 60pt;
		font-weight: 900;
	}
*/
}
@page:blank
{
	@top-center
	{
		content: none;
	}
	@bottom-center
	{
		content: none;
	}
}
p
{
	text-align: justify;
	line-height: inherit;
	margin: inherit;
}
b, strong
{
	font-weight: 500;
}
h1, h2, h3
{
	font-family: "Ubuntu Condensed";
	font-weight: 600;
	font-size: inherit;
	text-transform: uppercase;
	text-align: center;
	line-height: inherit;
	margin: 0.92cm 0 0.46cm;
}

h1
{
	word-spacing: 0.1em;
	letter-spacing: 0.1em;
	background-color: black;
	color: white;
}
h2
{
	border-top: 1px solid;
	padding: 10px 0 0;
}
h1+h2
{
	border-top: none;
	padding: 0;
}
h2 em:first-child:after
{
	content: string( strSEPARATOR );
	font-style: normal;
}
code, pre
{
	font-family: "Ubuntu Mono";
	line-height: inherit;
	margin: inherit;
}
pre
{
	overflow:  hidden;
	padding: 0px 10px;
	margin: 10px 0;
}
code
{
	background-color: #F2F2F2;
}
pre
{
	background-color: #F2F2F2;
}


blockquote
{
	font-style: italic;
}

table tr th
{
	border-bottom: 1px solid;
	padding: 0 1em;
	text-align: center;
}
table tr td
{
	padding: 0 1em;
	text-align: center;
}
td:first-child
{
	margin-left: 0;
	/*border-right: 0.15mm solid #000;*/
}
td:last-child
{
	margin-right: 0;
}
table
{
	border-collapse: collapse;
	margin: 0.5cm auto;
	page-break-inside: avoid;
}
figure
{
	display: block;
	margin: 0.2cm;
	text-align: center;
}
figcaption
{
	display: none;
}
img
{
	max-width: 8.5cm;
	max-height: 3.2cm;
}

ol, ul
{
	margin: 0;
	padding: 0;
}
ol
{
	counter-reset: LIST-ITEMS 0;
	list-style-type: none;
}
ul
{
	list-style-type: none;
}
/*ul */li
{
	margin: 0 1em 0;
	padding: 0;
	text-indent: 0;
}
/*ul */li *
{
	margin: 0 ;
}

ul li:before
{
	content: "–";
	margin: 0 0 0 -1em;
	padding: 0;
	display: inline-block;
	width: 1em;
}
ol li:before
{
	content: counter( LIST-ITEMS ) ".";
	counter-increment: LIST-ITEMS;
	margin: 0 0 0 -1em;
	padding: 0;
	display: inline-block;
	width: 1em;
}



blockquote
{
	margin: 1em;
	padding: 0;
}





figure img[ alt="transistor-ctn"       ]{ max-height: 5cm; }
figure img[ alt="thermistance"         ]{ max-height: 8cm; }
figure img[ alt="D3q1"                 ]{ max-height: 3.7cm; }
figure img[ alt="diagramme-temp-ex"    ]{ max-height: 6cm; }
figure img[ alt="charlieplexing-3"     ]{ max-height: 6cm; }
figure img[ alt="CadreEnseigne"        ]{ max-height: 3cm; }
figure img[ alt="Miaou1"               ]{ max-height: 5cm; }
figure img[ alt="Miaou2"               ]{ max-height: 6cm; }
figure img[ alt="DeJdn"                ]{ max-height: 7cm; }
figure img[ alt="morse1"               ]{ max-height: 8cm; }
figure img[ alt="morse2"               ]{ min-width: 4cm; max-height: 5cm;}
figure img[ alt="morse3"               ]{ max-height: 4cm; }
figure img[ alt="pouss4"               ]{ max-height: 6cm; }
figure img[ alt="foot-change"          ]{ max-height: 6cm; }

figure img[ alt="log-xor-detail"       ]{ max-height: 5cm; }
figure img[ alt="diagramme-temp-corr"  ]{ max-height: 5cm; }
figure img[ alt="compteur-5"           ]{ max-height: 5cm; }
figure img[ alt="compteur-5-schema"    ]{ max-height: 5cm; }
figure img[ alt="compteur-5-table"     ]{ max-height: 5cm; }
figure img[ alt="GrapheMonteCharge"    ]{ max-height: 5cm; }
figure img[ alt="change-foot-schema"   ]{ max-height: 9cm; }

figure img[ alt="LEGSERVO"             ]{ max-height: 5cm; }
figure img[ alt="SUIVMOO"              ]{ max-height: 5cm; }
figure img[ alt="Ex731"                ]{ max-height: 5cm; }
figure img[ alt="courbe-ldr"           ]{ max-height: 8cm; }


